.cta {
    display: flex;
    width: fit-content;
    gap: 14px;
    background-color: #fa8b60;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem !important;
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    min-height: 55px;
    min-width: 135px;
    white-space: nowrap;
    text-transform: uppercase;
    border: none;
}